*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/sp21/.gradle
/sp21/local.properties.properties
/sp21/local.properties
/sp21/.idea/caches
/sp21/.idea/libraries
/sp21/.idea/modules.xml
/sp21/.idea/workspace.xml
/sp21/.idea/navEditor.xml
/sp21/.idea/assetWizardSettings.xml
/sp21/.DS_Store
/sp21/build
/sp21/captures
/sp21/.externalNativeBuild
/sp21/.cxx
/.idea/
/app/build/
/.gradle/
/.idea/libraries/
